@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body,html {
  height: 100%;
  overflow: hidden;
}

:root {
  --dracula-foreground: #F8F8F2;
  --dracula-cyan: #8BE9FD;
  --dracula-green: #50FA7B; 
  --dracula-pink: #FF79C6;
  --dracula-orange: #FFB86C;
  --dracula-purple: #FF79C6;
  --dracula-red: #FF5555;
  --dracula-yellow: #F1FA8C;
  --dracula-comment: #6272A4;
  --background-start: #FFB86C;
  --background-end: #FF79C6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #F8F8F2;
    --background-start: #282A36;
    --background-end: #44475A;
  }
}




body {
  color: var(--dracula-foreground);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--background-start)
    )
    var(--background-end);
}
