.display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display canvas {
    width: 20;
    background-color: #000;
    flex: 2;
    margin:0.5rem;
    border-radius: 10px;
}

.buttons {
    width: 20%;
    background-color: var(--dracula-foreground);
    color: var(--dracula-foreground);
    flex: 1;
    margin: 0.5rem;
    border-radius: 10px;
    
}